/* ۱. ایمپورت گوگل پاک شد */
@import "tailwindcss";

/* ۲. معرفی فونت لوکال */
@font-face {
  font-family: 'Vazirmatn';
  src: url('/fonts/Vazirmatn-RD-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap; /* برای جلوگیری از نامرئی شدن متن قبل از لود فونت */
}

/* ۳. تنظیمات تم تیلویند */
@theme {
  --color-gadget-dark: #0f6d6d;
  --color-gadget-light: #29b6b0;
  --font-sans: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

html,
body {
  font-family: "Vazirmatn", ui-sans-serif, system-ui, sans-serif;
}

/* استایل‌دهی مدرن به نوار اسکرول فقط برای دسکتاپ (دستگاه‌های دارای موس) */
@media (hover: hover) and (pointer: fine) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #e2e8f0;
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #29b6b0;
  }
}
